<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.test.spring_test.mapper.MainMapper">
 	<resultMap type="StaffInfo" id="staffResultMap">
		<result column="staffId" property="staffId"/>
		<result column="mainBusinessCode" property="mainBusinessCode"/>
		<result column="staffState" property="staffState"/>
		<result column="staffPw" property="staffPw"/>
		<result column="staffName" property="staffName"/>
		<result column="staffBirth" property="staffBirth"/>
		<result column="staffLevel" property="staffLevel"/>
		<result column="systemLevel" property="systemLevel"/>
		<result column="staffEmail" property="staffEmail"/>
		<result column="staffRegDate" property="staffRegDate"/>
		<result column="staffPhone" property="staffPhone"/>
		<result column="staffAddr" property="staffAddr"/>
		<result column="staffEditDate" property="staffEditDate"/>
		<result column="authoriser" property="authoriser"/>
	</resultMap> 
	<select id="getStaffIdCheckLogin" parameterType="String" resultMap="staffResultMap">
		SELECT 
			staffId
			, mainBusinessCode
			, staffState
			, staffPw
			, staffName
			, staffBirth
			, staffLevel
			, systemLevel
			, staffEmail
			, staffRegDate
			, staffPhone
			, staffAddr
			, staffEditDate
			, authoriser
		FROM 
			k4_tb_staff
		WHERE
			staffId = #{staffId};
	</select>
	
	
	<select id="getStaffInfoListCount" resultType="int" fetchSize="1000">
		SELECT
			COUNT(1)
		FROM
			k4_tb_staff;
	</select>
	<select id="getStaffInfoSearchListCount" resultType="int" fetchSize="1000">
		SELECT
			COUNT(1)
		FROM
			k4_tb_staff
		where
			${searchKey} LIKE CONCAT('%', #{searchValue},'%')
	</select>
	
	
	<select id="getStaffInfo" parameterType="map" resultType="map">
		select
			s.staffId 				AS staffId
			,s.staffName			AS staffName
			,s.staffLevel			AS staffLevel
			,s.staffBirth			AS staffBirth
			,s.staffEmail			AS staffEmail
			,s.staffRegDate			AS staffRegDate
			,s.staffPhone			AS staffPhone
			,s.staffAddr			AS staffAddr
		from
			k4_tb_staff AS s
		<if test="startNum != null">
			LIMIT #{startNum}, #{rowPerPage};
		</if>
	
	</select>
	
	<insert id="staffInsertAct" parameterType="StaffInfo">
		INSERT INTO k4_tb_staff
		(	staffId
			,mainBusinessCode
			,staffState
			,staffPw
			,staffName
			,staffBirth
			,staffLevel
			,systemLevel
			,staffEmail
			,staffRegDate
			,staffPhone
			,staffAddr
			,staffEditDate
			,authoriser
		)VALUES (
			#{staffId}
			,#{mainBusinessCode}
			,NOW()
			,#{staffPw}
			,#{staffName}
			,#{staffBirth}
			,#{staffLevel}
			,#{systemLevel}
			,#{staffEmail}
			,#{staffRegDate}
			,#{staffPhone}
			,#{staffAddr}
			,NOW()
			,#{authoriser}
		);
		
	</insert>
	<update id="staffInfoUpdate" parameterType="StaffInfo">
		UPDATE k4_tb_staff
		<trim prefix="SET" prefixOverrides=",">
			<if test="staffPw != null and staffPw != ''.toString()">
				staffPw = #{staffPw}
			</if>
			<if test="staffName != null and staffName != ''.toString()">
				,staffName = #{staffName}
			</if>
			<if test="staffBirth != null and staffBirth != ''.toString()">
				,staffBirth = #{staffBirth}
			</if>
			<if test="staffRegDate != null and staffRegDate != ''.toString()">
				,staffRegDate = #{staffRegDate}
			</if>
			<if test="staffPhone != null and staffPhone != ''.toString()">
				,staffPhone = #{staffPhone}
			</if>
			<if test="staffAddr != null and staffAddr != ''.toString()">
				,staffAddr = #{staffAddr}
			</if>
				,staffEditDate = now()
		</trim>
		WHERE
			staffId = #{staffId};
	</update>
	
	
	<select id="getStaffInfoSearchList" parameterType="String" resultMap="staffResultMap">
		select
			staffId 			
			,staffName			
			,staffLevel			
			,staffBirth		
			,staffEmail		
			,staffRegDate		
			,staffPhone	
			,staffAddr			
		from
			k4_tb_staff
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchValue != null and searchValue != ''.toString()">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>
		</trim>
	
	
	</select>
	
	
	<select id="getStaffCheck" parameterType="String" resultType="int">
		SELECT
			COUNT(1)
		FROM
			k4_tb_staff AS s
		WHERE
			s.staffId = #{staffId};
	</select>
	
	
</mapper>