<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.test.spring_test.mapper.OrderMapper">
	<resultMap type="OrderList" id="OrderResultMap">
		<result column="orderCode" property="orderCode"/>
		<result column="orderRegTime" property="orderRegTime"/>
		<result column="goodsName" property="goodsName"/>
		<result column="goodsWeight" property="goodsWeight"/>
		<result column="goodsUnit" property="goodsUnit"/>
		<result column="salesperson" property="salesperson"/>
		<result column="purchasePrice" property="purchasePrice"/>
		<result column="goodsQuantity" property="goodsQuantity"/>
		<result column="situation" property="situation"/>
		<result column="staffId2" property="staffId2"/>
	</resultMap>
	
	<select id="getOrderListBySearch01" parameterType="String" resultType="OrderList">
		SELECT 
			o.orderCode
			,o.orderRegTime
			,o.goodsName
			,o.goodsWeight
			,o.goodsUnit
			,o.salesperson
			,o.purchasePrice
			,o.goodsQuantity
			,o.situation
			,o.staffId2
					
		FROM 
			k4_tb_order AS o
			
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="orderSearchVal != null and orderSearchVal != ''.toString()">
				${orderSearch01} LIKE CONCAT('%', #{orderSearchVal}, '%');
			</if>
		</trim>	
	</select>
	
	<select id="getorderList" parameterType="OrderList" resultType="OrderList">
		SELECT 
			o.orderCode
			,o.orderRegTime
			,o.goodsName
			,o.goodsWeight
			,o.goodsUnit
			,o.salesperson
			,o.purchasePrice
			,o.goodsQuantity
			,o.situation
			,o.staffId2
					
		FROM 
			k4_tb_order AS o
	</select>
	
	<select id="getOrderCount" resultType="int" fetchSize="1000">
		SELECT 
			COUNT(1)
		FROM 
			k4_tb_order AS o;
	</select>
	<select id="getOrderList" parameterType="map" resultType="map">
		SELECT 
			o.orderCode
			,o.orderRegTime
			,o.goodsName
			,o.goodsWeight
			,o.goodsUnit
			,o.salesperson
			,o.purchasePrice
			,o.goodsQuantity
			,o.situation
			,o.staffId2
					
		FROM  
			k4_tb_order AS o
		<if test="startNum != null">
			LIMIT #{startNum}, #{rowPerPage};		
		</if>	
	</select>
</mapper>