<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.test.spring_test.mapper.SettlementMapper">
		

<!--ListCount  -->
	<select id="getPurchaseListCount" resultType="int" fetchSize="1000">
		SELECT
			COUNT(1)
		FROM
			k4_tb_order 
						inner JOIN
			k4_tb_transactionstatement  
							join
			k4_tb_business  ;
	</select>


	<!-- 매입 조회 -->

<select id="selectPurchaseList"  parameterType = "map" resultType="map">

				SELECT
		b.businessName 			AS businessName , 
		o.goodsSupplyPrice		 AS goodsSupplyPrice ,
		o.VAT 								AS vat ,
		o.purchasePrice			 AS purchasePrice  ,
		tr.totalAmount 			AS totalAmount , 
		tr.dealDate 					AS dealDate
		FROM
			k4_tb_order AS o
						inner JOIN
			k4_tb_transactionstatement AS tr 
							join
			k4_tb_business AS b 
		<!-- 		<if test="startNum != null">
			LIMIT #{startNum}, #{rowPerPage};
		</if> -->
</select>




</mapper>
