<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="@{layout/default}">
  <th:block layout:fragment="customContent" >
     <title th:text="${title}"></title>
  </th:block>
  
	<th:block layout:fragment="customJs">
		<link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css}">
		<script type="text/javascript" th:src="@{//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript">
			
				
				$(function(){
					var aLengthMenuArray = [];
					aLengthMenuArray.push([5,10,15,20,25,-1]);
					aLengthMenuArray.push([5,10,15,20,'이십오','ALL']);
				
					$('#dataTableAjax').DataTable( {
						destroy: true,
						pageLength: 5,
						aLengthMenu: aLengthMenuArray,
				        ajax: {
				        		url: '/loginHistory3',
				        		type: 'POST',
				        		dataSrc: function(data){
				        					console.table(data);
				        					return data;
				        				 }
				        },
				        columns: [
				            { "data": "loginNum" },
				            { "data": "loginId" },
				            { "data": "loginDate" },
				            { "data": "logoutDate" },
				            { "data": '수정' },
				            { "data": '삭제' }
				        ],
				        columnDefs: [
				        	{
				        		'targets' : [4],
				        		'orderable' : false,
				        		'searchable' : false,
				        		'render' : function( data, type, row){	//ajax data 3번째 매개변수 row
				        					var htmlbtn1 = '<button class="modifyBtn" data-memberId="'+ row.loginNum +'">수정</button>';
				        					return htmlbtn1;
				        				 }
				        	},
				        	{
				        		'targets' : [5],
				        		'orderable' : false,
				        		'searchable' : false,
				        		'render' : function( data, type, row){	//ajax data 3번째 매개변수 row
				        					var htmlbtn1 = '<button class="removeBtn" data-memberId="'+ row.loginId +'">삭제</button>';
				        					return htmlbtn1;
				        				 }
				        	}
				        ]
				    } );
				});
			});
		</script>
	</th:block>
   <th:block layout:fragment="customContents" >
   
      <div class="wrapper">

      <section class="content">
         <div class="container-fluid">
            <div class="card">
               <div class=" clearfix">
                  <table class="col-md-12">
                     <colgroup>
                        <col width="13%">
                        <col width="21%">
                        <col width="18%">
                        <col width="18%">
                        <col width="18%">
                        <col width="13%">
                     </colgroup>
                     <tbody>
                              
                        <tr>
                           <th rowspan="2" class="card-footer text-center">기간</th>
                           <td>
                              <div class="search-buttons pr-2 pl-2 pt-3">
                                          <a class="btn btn-info" role="button" chk_type="all" onclick="setDate('all')">전체</a>
                                          <a class="btn btn-info" role="button" chk_type="ym" onclick="setDate('ym')">전월</a>
                                          <a class="btn btn-info" role="button" chk_type="nm" onclick="setDate('nm')">금월</a>
                                          <a class="btn btn-info" role="button" chk_type="n" onclick="setDate('n')">당일</a>
                              </div>
                           </td>
                           <td>
                              <div class="search-dates  pt-3">
                                 <div class="input-group">
                                    <input id="sdate" name="sdate" type="text" value="2021-12-28" title="날짜 입력" onclick="calendarAdmin('sdate')" class="form-control" style="width:104px;">
                                    <span class="input-group-addon" id="basic-addon2">
                                       <a onclick="calendarAdmin('sdate');" role="button"><i class="far fa-calendar-alt" style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
                                    </span>
                                    <span style="padding-top: 7px;"> ~ </span>
                                 </div>
                              </div>
                           </td>
                           
                           <td>
                              <div class="search-dates mr0  pt-3">
                                 <div class="input-group mr0">
                                    <input id="edate" name="edate" type="text" value="2021-12-29" title="날짜 입력" onclick="calendarAdmin('edate')" class="form-control" style="width:104px;">
                                    <span class="input-group-addon" id="basic-addon2">
                                       <a onclick="calendarAdmin('edate');" role="button"><i class="far fa-calendar-alt" style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
                                    </span>
                                 </div>
                              </div>                              
                           </td>                           
                        </tr>
                        <tr>
                        	<td colspan="5" class=" pl-3 pt-2" style="color: #555; font-size: 0.9em;">* <strong>접수일 기준</strong> 으로 검색됩니다.</td>
                        </tr>
                     
                        <tr>
                           <th class="card-footer text-center"style="border-bottom:1px dotted #f1f1f1;">키워드 검색</th>
                           <td class="pr-2 pl-2 pt-2 pb-2">
                              <div class="search-types">
                                 <select name="search_type" class="form-control">
                                    <option value="">거래처명</option>
                                    <option value="">상품번호</option>
                                 </select>
                              </div>
                           </td>
                           <td colspan="2" class="pr-2 pt-2 pb-2">
                              <input type="text"  class="form-control" title="검색어 입력" placeholder="검색어를 입력해주세요." >                              
                           </td>
                           <td class="pr-2 pt-2 pb-2">
                              <a class="btn btn-search btn-info " role="button" onclick="" style="width:100%;">검색</a>
                           </td>
                        </tr>
                        <tr>
                           <th class="card-footer text-center">즉시 검색</th>
                           <td class="pr-2 pl-2 pb-2">
                              <div class="">
                                 <select class="form-control">
                                    <option value="">처리 담당자</option>
                                 </select>
                              </div>
                           </td>
                           <td class="pr-2 pb-2">                
                           
                           </td>
                           <td class="pr-2 pb-2">                              
                           </td>
                           <td class="pr-2 pb-2">
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            
            <div>
				<button style="float:left; font-weight: 600;height: 50px; letter-spacing: -0.5px;" class="btn btn-outline-info col-sm-3">반품 거래명세서 출력 <i style="padding-left: 7px;" class="fas fa-archive"></i></button>
				<button style="float:right;font-weight: 600;height: 50px;  letter-spacing: -0.5px;" class="btn btn-outline-info col-sm-3">반품 등록<i style="padding-left: 7px;" class="fas fa-archive"></i></button>
			</div>
            <div class="mb-2"style="display: inline-flex; margin-top:20px; margin-left:3%; padding: 0 12px 0 1px;clear:both; float:left" >
               <p style="width:135px; padding-right: 7px;">전체 10건</p>               
               <select style="margin-top: -6px;" name="search_type" class="form-control">
                  <option value="">50개씩 보기</option>
                  <option value="">100개씩 보기</option>
                  <option value="">150개씩 보기</option>
               </select>
              
            </div>
         
            <div class="card col-md-12">
               <table id="dataTableAjax"  style="margin: 2%;width: 96%;" class="table text-center table-head-fixed text-nowrap"> 
                  <thead>
                     <tr>
                        <th>발주요청코드</th>
                        <th>품목명</th>
                        <th>품목단위</th>
                        <th>매입단가(VAT포함)</th>
                        <th>수량</th>
                        <th>소계</th>
                        <th>거래처</th>
                        <th>수주완료일자</th>
                        <th>상태</th><!-- 검수완료 후 상태 -->
                        <th>구분</th><!-- 폐기/반품 구분 -->
                     </tr>
                  </thead>
                  
               </table>
               <div style="margin: 5px auto 0;" class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                  <ul class="pagination">
                     <li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Prev</a></li>
                     <li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                     <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                     <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                     <li class="paginate_button page-item next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                  </ul>
               </div>
            </div>  
            
          </div>
      </section>    
      </div>
   



</th:block>
