<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
 	 layout:decorate="@{layout/default}">
  <th:block layout:fragment="customContent" >
  	<title th:text="${title}"></title>
  </th:block>
	<th:block layout:fragment="customContents" >
	
		<table>
			<tbody>
				<tr th:if="${not #lists.isEmpty(staffList)}" th:each="l: ${staffList}">
					<td th:text="${l.staffId}"> </td>
				
				</tr>
				
			</tbody>
		</table>
			
	</th:block>	
</html>
