<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
 	 layout:decorate="@{layout/default}">
  <th:block layout:fragment="customContent" >
  	<title th:text="${title}"></title>
  </th:block>
	<th:block layout:fragment="customContents" >
	
	
		<div class="wrapper">
	


   
         <div class="container-fluid">
            <div class="card">
               <div class=" clearfix">
                  <table class="col-md-12">
	                     <colgroup>
	                        <col width="13%">
	                        <col width="21%">
	                        <col width="18%">
	                        <col width="18%">
	                        <col width="18%">
	                        <col width="13%">
	                     </colgroup>
						<tbody>
	                     
							<tr>
	                           <th class="card-footer text-center"style="border-bottom:1px dotted #f1f1f1;">사원 검색</th>
	                           <td class="pr-2 pl-2 pt-2 pb-2">
	                              <div class="search-types">
	                                 <select name="search_type" class="form-control">
	                                    <option value="">사원이름</option>
	                                    <option value="">사원직급</option>
	                                    <option value="">아이디</option>
	                                 </select>
	                              </div>
	                           </td>
	                           <td colspan="2" class="pr-2 pt-2 pb-2">
	                              <input type="text"  class="form-control" title="검색어 입력" placeholder="검색어를 입력해주세요." >                              
	                           </td>
	                           <td class="pr-2 pt-2 pb-2">
	                              <a class="btn btn-search btn-info " role="button" onclick="" style="width:100%;">검색</a>
	                           </td>
	                        </tr>
	                        
	                     </tbody>
	                  </table>
	               </div>
	            </div>
	            
	          </div>
	     

			
			    <!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="card card-warning">
						<div class="card-header">
							<h3 class="card-title">사원 목록 조회</h3>
						</div>
						<!-- /.card-header -->
						            
						<div class="card-body table-responsive p-0">
							<table class="table text-center table-head-fixed text-nowrap">
								<thead>
									<th>사원 아이디</th>
									<th>사원 이름</th>
									<th>사원 등급</th>
									<th>사원 생년월일</th>
									<th>사원 입사일</th>
									<th>사원 연락처</th>
									<th>사원 주소</th>
									<th>수정하기</th>
									<th>삭제하기</th>
								</thead>
								<tbody>
									<!-- <tr th:if="${not #lists.isEmpty(staffList)}" th:each="l: ${staffList}">
										<td th:text="${l.staffId}"></td>
										<td th:text="${l.staffName}"></td>
										<td th:text="${l.staffLevel}"></td>
										<td th:text="${l.staffBirth}"></td>
										<td th:text="${l.staffRegDate}"></td>
										<td th:text="${l.staffPhone}"></td>
										<td th:text="${l.staffAddr}"></td>
										<td>
											<button type="button" >수정</button>
										</td> 
										<td>
											<button type="button">삭제</button>
										</td> 
									</tr>
									<tr th:unless="${not #lists.isEmpty(staffList)}">
									</tr> -->
									
								</tbody>
							</table>
						           
						           
						</div>
						<!-- /.card-body -->
					</div>
				</div>
			</section>    
		    <!-- /.content -->
		</div>
			
	</th:block>	
</html>
