<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
 	 layout:decorate="@{layout/default}">
	<th:block layout:fragment="customContent" >
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){
				$(document).on('click','#loginSubmitBtn',function(){
					$('#loginForm').submit();
				});
			});
		</script>
	</th:block>

	<th:block layout:fragment="customContents" >

		<div class="col-md-12">
			<div class="card card-default  col-lg-6" style="margin:0 auto;">
				<div class="card-header">
				  <h3 class="card-title">마트 로그인</h3>
				</div>
			
						
				<div class="card-body">
					<form id="loginForm" th:action="@{/login}" method="post">
						<div class="form-group">
							<label for="staffId">STAFF ID</label>
							<input type="text" class="form-control" id="staffId" name="staffId" placeholder="Staff ID">
						</div>
						<div class="form-group">
							<label for="inputPassword1">Password</label>
							<input type="password" class="form-control" id="staffPw" name="staffPw" placeholder="Password">
						</div>
					</form>
				</div>
				<div class="card-body  ml-auto">
                  <button id="loginSubmitBtn" type="button" class="btn btn-primary">Login</button>
                </div>		
			</div>
			
		</div>
	</th:block>	
</html>

