<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
 	>
	<th:block layout:fragment="customContent" >
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customJs">
		<script type="text/javascript">
			$(function(){
				$(document).on('click','#loginSubmitBtn',function(){
					$('#loginForm').submit();
				});
			});
		</script>
	</th:block>

	<div class="modal-header" style="position: relative; height: 56px;">
		<p class="card-title" style="position: absolute;text-align: center;left: 50%;transform: translate(-50%);">마트 로그인</p>
	</div>
	<div class="modal-body">
		<div class="col-md-10" style=" margin:10px auto 0; padding: 10px 0px 25px;">
			<form id="loginForm" th:action="@{/login}" method="post">
				<div class="form-group">
					<label for="staffId">STAFF ID</label>
						<input type="text" class="form-control" id="staffId" style="border-radius: 24px;" name="staffId" placeholder="Staff ID" value="m_admin001">
				</div>
				<div class="form-group">
					<label for="inputPassword1">Password</label>
					<input type="password" class="form-control" id="staffPw" style="border-radius: 24px;" name="staffPw" placeholder="Password" value="pw001">
				</div>
			</form>
		</div>
	<!-- 	<div class="modal-footer">
        <button id="orderInsertBtn" type="button" class="btn btn-info">등록완료</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
     	 </div> -->
		<div class="modal-footer" style="padding-bottom: 0;">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button id="loginSubmitBtn" type="button" class="btn btn-primary">Login</button>
		</div>		
	</div>
		
</html>

