<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customContent">
	<title th:text="${title}"></title>
</th:block>
<th:block layout:fragment="customContents">

	

		<!-- Content Header (Page header) -->
	<div class="wrapper">
		
		<h2 class= "padding : 2 0 10 5px;"> 정산서</h2>
		<!-- /.content-header -->

		<!-- Main content -->

<section class="content">
         <div class="container-fluid">
            <div class="card">
               <div class=" clearfix">
                  <table class="col-md-12">
                     <colgroup>
                        <col width="13%">
                        <col width="21%">
                        <col width="18%">
                        <col width="18%">
                        <col width="18%">
                        <col width="13%">
                     </colgroup>
                     <tbody>
                           <tr>
                           <th class="card-footer text-center">기간</th>
                           <td>
                              <div class="search-buttons pl-2">
                                          <a class="btn btn-danger" role="button" chk_type="all" onclick="setDate('all')">전체</a>
                                          <a class="btn btn-danger" role="button" chk_type="ym" onclick="setDate('ym')">전월</a>
                                          <a class="btn btn-danger" role="button" chk_type="nm" onclick="setDate('nm')">금월</a>
                                          <a class="btn btn-danger" role="button" chk_type="n" onclick="setDate('n')">당일</a>
                              </div>
                           </td>
                           <td>
                              <div class="search-dates">
                                 <div class="input-group">
                                    <input id="sdate" name="sdate" type="text" value="2021-12-28" title="날짜 입력" onclick="calendarAdmin('sdate')" class="form-control" style="width:104px;">
                                    <span class="input-group-addon" id="basic-addon2">
                                       <a onclick="calendarAdmin('sdate');" role="button"><i class="far fa-calendar-alt" style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
                                    </span>
                                    <span style="padding-top: 7px;"> ~ </span>
                                 </div>
                              </div>
                           </td>
                           
                           <td>
                              <div class="search-dates mr0">
                                 <div class="input-group mr0">
                                    <input id="edate" name="edate" type="text" value="2021-12-29" title="날짜 입력" onclick="calendarAdmin('edate')" class="form-control" style="width:104px;">
                                    <span class="input-group-addon" id="basic-addon2">
                                       <a onclick="calendarAdmin('edate');" role="button"><i class="far fa-calendar-alt" style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
                                    </span>
                                 </div>
                              </div>
                           </td>
                           <td class="pr-2 pt-2 pb-2">
                              <a class="btn btn-search btn-danger " id="purchaseLookBtn"  href="#" onclick="location.href='' " style="width:100%;" >검색</a>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            
            
          </div>
      </section>
	<br />
	<br />
	<!--balance_sum_table시작  -->


	<!--balance_sum_table끝  -->
	<br />
	<br />
	<br />

	<!-- 테이블  시작-->
<section class="content">	
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title mt-2">
						매출 거래 날짜는
						<code>매출 확정일을</code>
						기준으로 합니다.
					</h6>

					<div class="card-tools">
						<div class="input-group input-group-sm">
							<div class="input-group-append "></div>
						</div>
					</div>
					<div class="col-sm-push-12 col-md-push-6"
						style="text-align: right;">
						<div class="dt-buttons btn-group flex-wrap">
							<button class="btn btn-danger buttons-copy buttons-html5"
								tabindex="0" aria-controls="example1" type="button">
								<span>Copy</span>
							</button>
							<button class="btn btn-danger buttons-csv buttons-html5"
								tabindex="0" aria-controls="example1" type="button">
								<span>CSV</span>
							</button>
							<button class="btn btn-danger buttons-excel buttons-html5"
								tabindex="0" aria-controls="example1" type="button">
								<span>Excel</span>
							</button>
							<button class="btn btn-danger buttons-pdf buttons-html5"
								tabindex="0" aria-controls="example1" type="button">
								<span>PDF</span>
							</button>
							<button class="btn btn-danger buttons-print" tabindex="0"
								aria-controls="example1" type="button">
								<span>Print</span>
							</button>
							<div class="btn-group">
								<button
									class="btn btn-danger buttons-collection dropdown-toggle buttons-colvis"
									tabindex="0" aria-controls="example1" type="button"
									aria-haspopup="true" aria-expanded="false">
									<span>Column visibility</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-header -->

				<!-- card-hody Start -->
				<br /> <br />

				<div class="card-body table-responsive p-0">
					<table class="table p-0 table-hover">
						<thead style="font-size: 1.0em; text-align:center;">
							<tr>
								<th>영업일</th> <!-- 1 -->
								<th>결제수단</th><!-- 2 -->
								<th>결제금액</th><!-- 3 -->
								<th>결제건수</th><!-- 4-->
								<th>수수료</th><!-- 5 -->
								<th>수수료총액</th><!-- 6 -->
								<th>부가세</th><!-- 7 -->
								<th>정산금액</th><!-- 8 -->
							</tr>
						</thead>
						<tbody  style="font-size: 1.0em; text-align:center;">
						    <tr>
						        <td rowspan="2">2022-12-01</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-02</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-03</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-04</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-05</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-06</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-07</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-08</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-09</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-10</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-11</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-12</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-13</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-14</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-15</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-16</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-17</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-18</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-19</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-20</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-21</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-22</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-23</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-24</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-25</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-26</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-27</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-28</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-29</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-30</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td rowspan="2">2022-12-31</td>
						        <td>가상계좌</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>300원(건)</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td>신용카드</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>2.5%</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						    <tr>
						        <td colspan="8" style="background:#ccc; text-align:center; font-size:14px;">총 합계</td>
						    </tr>
						    <tr>
						        <td colspan="2">합 계</td>
						        <td>0원</td>
						        <td>0</td>
						        <td>-</td>
						        <td>0원</td>
						        <td>0원</td>
						        <td>0원</td>
						    </tr>
						</tbody>
						
						
							
							
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>

		<div class="dataTables_paginate paging_simple_numbers mx-auto"
			id="example1_paginate">
			<ul class="pagination">
				<li class="paginate_button page-item previous disabled"
					id="example1_previous"><a href="#" aria-controls="example1"
					data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
				<li class="paginate_button page-item active"><a href="#"
					aria-controls="example1" data-dt-idx="1" tabindex="0"
					class="page-link">1</a></li>
				<li class="paginate_button page-item "><a href="#"
					aria-controls="example1" data-dt-idx="2" tabindex="0"
					class="page-link">2</a></li>
				<li class="paginate_button page-item "><a href="#"
					aria-controls="example1" data-dt-idx="3" tabindex="0"
					class="page-link">3</a></li>
				<li class="paginate_button page-item next" id="example1_next">
					<a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0"
					class="page-link">Next</a>
				</li>
			</ul>
		</div>


	</div>


	</section>
	<!-- /.content -->

	<!-- /.content-wrapper -->
	<!-- ./wrapper -->

</div>

</th:block>


</body>
</html>