<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <script src="/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>


<div th:fragment="sidebar">
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/}" class="brand-link">
      <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">사이트제목</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition"><div class="os-resize-observer-host observed"><div class="os-resize-observer" style="left: 0px; right: auto;"></div></div><div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;"><div class="os-resize-observer"></div></div><div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 696px;"></div><div class="os-padding"><div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;"><div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3" style="text-align: center;">
        <div class="image" style="padding-left: 0;">
          <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2"  style="width:6rem;" alt="User Image">
        </div>
        <div class="pt-3">
          <a href="#" class="d-block">관리자 정보</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        
        <div class="sidebar-search-results">
           <div class="list-group"><a href="#" class="list-group-item">
              <div class="search-title">
              <strong class="text-light"></strong>N<strong class="text-light"></strong>o<strong class="text-light"></strong> <strong class="text-light"></strong>e<strong class="text-light"></strong>l<strong class="text-light"></strong>e<strong class="text-light"></strong>m<strong class="text-light"></strong>e<strong class="text-light"></strong>n<strong class="text-light"></strong>t<strong class="text-light"></strong> <strong class="text-light"></strong>f<strong class="text-light"></strong>o<strong class="text-light"></strong>u<strong class="text-light"></strong>n<strong class="text-light"></strong>d<strong class="text-light"></strong>!<strong class="text-light"></strong></div><div class="search-path"></div></a></div></div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
            사원관리!최정기
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/basic/staffInsert}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               사원기본등록
                  </p>
                </a>
                
              </li>
              <li class="nav-item">
                <a th:href="@{/basic/staffList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               사원 목록
                  </p>
                </a>
                
              </li>              
              <li class="nav-item">
                <a th:href="@{/basic/staffPay}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               사원 급여
                  </p>
                </a>
                
              </li>              
            </ul>            
          </li>
          <li class="nav-item">
            <a  class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
            거래처 관리# 최정기
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/basic/businessInsert}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               거래처 등록
                  </p>
                </a>
                
              </li>
              <li class="nav-item">
                <a th:href="@{/basic/businessInfo}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               거래처 정보
                  </p>
                </a>
                
              </li>              
            </ul>            
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
            시설물 관리# 최정기
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/basic/storageInfo}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               창고/진열대 현황
                  </p>
                </a>
                
              </li>
              <li class="nav-item">
                <a th:href="@{/basic/storageInsert}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               창고 관리
                  </p>
                </a>
                
              </li>              
              <li class="nav-item">
                <a th:href="@{/basic/displayInfo}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
               진열대 관리
                  </p>
                </a>
                
              </li>              
            </ul>            
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
            주문 관리!강가영
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/order/orderMG}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                   주문 관리
                  </p>
                </a>
                <a th:href="@{/order/preOrder}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                   납품 예정 내역
                  </p>
                </a>
                <a th:href="@{/order/returnList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                   반품 내역
                  </p>
                </a>
                
              </li>  
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                                재고 관리#강가영
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/stock/inoutport}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                  입/출고 관리
                  </p>
                </a>
                <a th:href="@{/stock/inoutportList}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                   입/출고 내역
                  </p>
                </a>
                <a th:href=@{/stock/stCurrent} class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                   재고 현황
                  </p>
                </a>
                <a th:href="@{/stock/errorStock}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                   불량 관리
                  </p>
                </a>
                <a th:href="@{/stock/realStock}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>
                                   실사 관리
                  </p>
                </a>
                
              </li>  
            </ul>
            
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                               원장 관리!김연희
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
                        <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/settlement}" class="nav-link"> 
                  <i class="far fa-circle nav-icon"></i>
                  <p>매입/매출</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a th:href="@{/settlement/purchaseLookup}" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>매입원장(거래내역)</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/settlement/salesLookup}" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>매출원장(거래내역)</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/settlement/orderInvoice}" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>거래 집계</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-circle"></i>
              <p>
                                계산서 관리 #김연희
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/bill}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>계산서</p>
                  <i class="right fas fa-angle-left"></i>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a th:href="@{/bill/accounts}"class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>정산서</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/bill/purchaseInvoice}" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>거래명세서 </p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a th:href="@{/bill/taxBill}" class="nav-link">
                      <i class="far fa-dot-circle nav-icon"></i>
                      <p>(세금)계산서 조회</p>  
                    </a>
                  </li>
                </ul>
                </ul>
              </li>
              
            </ul>
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div></div></div><div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden"><div class="os-scrollbar-track"><div class="os-scrollbar-handle" style="height: 51.2877%; transform: translate(0px, 0px);"></div></div></div><div class="os-scrollbar-corner"></div></div>
    <!-- /.sidebar -->
  </aside>
   </html>