<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
 	 layout:decorate="@{layout/default}">
	<th:block layout:fragment="customContent" >
		<title th:text="${title}"></title>
	</th:block>
	<th:block layout:fragment="customJs">
		<link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css}">
		<script type="text/javascript" th:src="@{//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js}"></script>
		<script type="text/javascript">
			$(function () {
				
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10,15]);
				aLengthMenuArray.push([5,10,15]);
				
				$('#businessListTable').DataTable({
					sDom: 'lrtip',
					info: false,
					destroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					scrollX: true,
					ajax:{
						url:'/basic/businessInfo',
						type:'post',
						dataSrc: function(data){
							console.log(JSON.stringify(data));
							return data;
						}
					},
					columns:[
						{"data":"businessCode"},
						{"data":"businessName"},
						{"data":"businessSectors"},
						{"data":"businessStatus"},
						{"data":"businessPartnerName"},
						{"data":"businessPartnerNum"},
						{"data":"businessPhoneNum"},
						{"data":"businessAddress"},
						{"data":"businessStaff"},
						{"data":"businessStaffNum"},
						{"data":"businessStaffEmail"}
						
					]
				});
				
				//모달
				//모달 클릭
				$('#modalBtn').click(function(){
					
					$('#businessModal').modal();
					
				});
				
				//모달 ajax
				$('#businessModal').on('show.bs.modal',function(){
					var request = $.ajax({
						url:"/basic/modalBusiness",
						method:"get",
						dataType:"html"
					});
					request.done(function(msg){
						$('#modalAjax').html(msg);
					});
					request.fail(function(jqXHR, textStatus){
						alert("Request failed "+textStatus);
					});
				
				});
				
				
				//검색창
			    $('#searchBar').on( 'keyup click', function () {
			    	searchfilter();
			    } );
				
				
			});
			
			//검색
			function searchfilter () {
			    $('#businessListTable').DataTable().search(
			        $('#searchBar').val()
			    ).draw();
			}
			
		</script>
	
	</th:block>
  
	<th:block layout:fragment="customContents" >
	<div class="wrapper">

		<section class="content">
			<div class="container-fluid">
				<div class="card">
					<div class=" clearfix">
						<table class="col-md-12">
							<colgroup>
							   <col width="13%">
							   <col width="21%">
							   <col width="18%">
							   <col width="18%">
							   <col width="18%">
							   <col width="13%">
							</colgroup>
						<tbody>
                     
							<tr>
								<th class="card-footer text-center"style="border-bottom:1px dotted #f1f1f1;">거래처 검색</th>
								<td class="pr-2 pl-2 pt-2 pb-2">
						   			<div class="search-types">
									      <select name="search_type" class="form-control">
									         <option value="">사업자명</option>
									         <option value="">업종</option>
									         <option value="">업태</option>
									      </select>
									</div>
								</td>
								<td colspan="2" class="pr-2 pt-2 pb-2">
								   <input id="searchBar" type="text"  class="form-control" title="검색어 입력" placeholder="검색어를 입력해주세요." >                              
								</td>
								<td class="pr-2 pt-2 pb-2">
								   <a class="btn btn-search btn-info " role="button" onclick="" style="width:100%;">검색</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
				
				<button id="modalBtn" style="float: right; font-weight: 600;height: 50px; letter-spacing: -0.5px;"  class="btn btn-outline-info mb-3 mr-2 col-sm-3">거래처 정보수정<i style="padding-left: 7px;" class="fas fa-archive"></i></button>
				<div class="card col-md-12" style="padding:5px; width">
					<table id="businessListTable" class="table text-center table-head-fixed text-nowrap " style="padding: 5px;"> 
						<thead>
							<tr>
								<th>거래처 코드</th>
								<th>사업자명</th>
								<th>업태</th>
								<th>업종</th>
								<th>사업자 대표명</th>
								<th>사업자 전화번호</th>
								<th>사업자 번호</th>
								<th>사업장 주소</th>
								<th>담당자 이름</th>
								<th>담당자 전화번호</th>
								<th>담당자 이메일</th>
							</tr>
						</thead>
						
						</table>
		        
				</div>  
			</div>
	
	<!-- 모달 창 -->
				<div class="modal fade" id="businessModal" style="" data-backdrop="static">
					<div class="modal-dialog modal-lg">
				         <div class="modal-content" id="modalAjax">
						
				         </div>
				         <!-- /.modal-content -->
					</div>
				<!-- /.modal-dialog -->
				</div>	   
			
	<!-- 모달 끝 -->
			</section>    
		</div>


	</th:block>	
</html>
