<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
 	 layout:decorate="@{layout/default}">
  <th:block layout:fragment="customContent" >
  	<title th:text="${title}"></title>
  </th:block>
	<th:block layout:fragment="customContents" >

v.220102_1342
<div class="wrapper">

		<!-- Preloader -->
		<div class="preloader flex-column justify-content-center align-items-center">
		<img class="animation__shake" src="${pageContext.request.contextPath}/resources/adminLTE/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
		</div>
		


    <!-- Main content -->

											
		<div class="wrapper">
		<!-- Content Header (Page header) -->
		<!-- /.content-header -->

			<!-- searchOption-card -->


			<section class="content">
				<div class="container-fluid">

				<div class="card" style="margin-top: 30px; padding-bottom: 40px; padding-top: 40px;">
					<div class="card-body">
						<table class="searchOptionTable">
							<colgroup>
								<col width="20%">
								<col width="20%">
								<col width="20%">
								<col width="20%">
								<col width="*">
							</colgroup>
							<tbody>
								<tr class="first">
									<th class="text-right pr-4">
										<label class="btn btn-danger active mt-2 " name="dateOption" id="dateOptionName" style="font-size: 1.2em;"> 매출 구분 </label>
									</th>
									<td style="border-right:1px dotted #d9d9d9; line-height:18px;" >

												<div class="radio radio-inline">
													<input type="radio" name="period_type" id="period-type1" value="1" checked="">
													<label for="period-type1">주문일시(발주등록일)</label>
												</div>
									</td>
									<td>
												<div class="radio radio-inline">
													<input type="radio" name="period_type" id="period-type2" value="2">
													<label for="period-type2">배송요청일(입고완료일)</label>
												</div>
									</td>
									<td>
									_
									</td>
									<td>
									_
									</td>
								</tr>
								<!--1번째 줄 끝  -->
								
								<!--2번째 줄 시작  -->

								<tr>
									<th class="text-center">
										<label
											class="btn btn-danger active" name="dateOption"
											id="dateOptionName" style="font-size: 1.2em;"> 기간 </label>
									</th>
									<td class="text-right">
										<label class="btn btn-danger"> <input type="radio"
								name="lastMonth" id="option_a3" autocomplete="off"> 전월
									</label> 
									</td>
									<td class="text-right">
									<label class="btn btn-danger"> <input type="radio"
								name="thisMonth" id="option_a4" autocomplete="off"> 금월
							</label> 
										
									</td>
									<td class="text-right">
										<label class="btn btn-danger"> <input type="radio"
								name="today" id="option_a5" autocomplete="off"> 당일
							</label> 
									</td>
									<td>
										<div class="search-dates">
											<div class="input-group">
												<input id="sdate" name="sdate" type="text" value="2016-01-01" title="날짜 입력" onclick="calendarAdmin('sdate')" class="form-control" style="width:104px;">
													<span class="input-group-addon" id="basic-addon2">
														<a onclick="calendarAdmin('sdate');" role="button">
														<img src="https://content.marketbom.com/vendor-assets/vendor_pc/img/ico-calendar2.png"></a>
													</span>
											</div>
										</div>
									
										<div class="search-dates mr0">
											<div class="input-group mr0">
												<input id="edate" name="edate" type="text" value="2021-12-30" title="날짜 입력" onclick="calendarAdmin('edate')" class="form-control" style="width:104px;">
												<span class="input-group-addon" id="basic-addon2">
													<a onclick="calendarAdmin('edate');" role="button">
													<img src="https://content.marketbom.com/vendor-assets/vendor_pc/img/ico-calendar2.png"></a>
												</span>
											</div>
										</div>
									</td>

								</tr>
								<!--2번째 줄 끝  -->
								
								<!--3번째 줄 시작 -->
								<tr>
									<th class="text-right pr-4"><label
										class="btn btn-danger active" name="dateOption"
										id="dateOptionName" style="font-size: 1.2em;"> 키워드검색 </label>
									</th>
									<td>
										<div class="search-types text-center">
											<select name="search_type" class="form-control">
												<div class="form-check">
													<option value="">거래처 명</option>
													<option value="">거래처등록번호</option>
											</select>
										</div> </select>
										</div>
									</td>
									<td colspan="2"><input type="text"
										class="form-control float-right"
										style="padding: 0px 30px 0px 80px; width: 850px;"
										placeholder="검색어를 입력 해 주세요"></td>
									<td>
										<div style="padding-left: 240px;">
											<button type="button" class="btn btn-block btn-danger btn-lg"
												style="width: 150px;">조 회</button>
										</div>
									</td>
								</tr>
								<!-- 3번째 줄 끝 -->
							</tbody>
						</table>

						<!--seacrhOptionTable끝 -->
						</section>
					</div>
				</div>
			<!-- /.card-body -->
	
	
	
	
	
	<!--searchOption-card end/ -->
	
	</th:block>
</html>