<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="customContent">
	<title th:text="${title}"></title>
</th:block>
<!-- jQuery -->
<th:block layout:fragment="customJs">
		<link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css}">
		<script type="text/javascript" th:src="@{//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js}"></script>
	<style>
	
	.dataTable 	{
								width: 100% !important;
								}
	.dataTables_wrapper .dataTables_paginate {
								    float: none;
								    text-align: center;
	}
	</style>
		<script type="text/javascript">
	
			$(document).ready(function () {
				
				var aLengthMenuArray = [];
				aLengthMenuArray.push([5,10,15]);
				aLengthMenuArray.push([5,10,15]);
				
				$('#purchaseListTable').DataTable({
					// 표시 건수기능 숨기기
					lengthChange: false,
					 // 검색 기능 숨기기
					searching: false, 
					// 정렬 기능 숨기기
					ordering: false,
					// 정보 표시 숨기기
					info: false,
					/* 페이징 기능 숨기기
					paging: false,*/
					sDom: 'lrtip',
					bDestroy: true,
					pageLength: 5,
					aLengthMenu: aLengthMenuArray,
					scrollX: true,
					ajax:{
						url:"/settlement/purchase",
						type:"post",
						dataSrc: function(data){
						
							return data;
						}
					},
					columns:[
						{"data":"businessName"},
						{"data":"goodsSupplyPrice"},
						{"data":"vat"},
						{"data":"purchasePrice"},
						{"data":"totalAmount"},
						{"data":"dealDate"}
						
					]
				});
		});
		</script>
	</th:block>
	
<th:block layout:fragment="customContents">

	<!-- Content Header (Page header) -->
	<div class="wrapper">

		<h2 class="padding : 2 0 10 5px;">매입 원장 조회</h2>
		<!-- /.content-header -->

		<!-- Main content -->

		<section class="content">
			<div class="container-fluid">
				<div class="card">
					<div class=" clearfix">
						<table class="col-md-12">
							<colgroup>
								<col width="13%">
								<col width="21%">
								<col width="18%">
								<col width="18%">
								<col width="18%">
								<col width="13%">
							</colgroup>
							<tbody>
								<tr class="first">
									<th class="card-footer text-center">매입 구분</th>
									<td class="pr-2 pl-2 pt-3"><input type="radio" name="period_type" id="period-type1" value="regist_dt"	>
										 <label for="period-type1">매입원장등록일</label>
									</td>
									<td class="pr-2 pl-2 pt-3"><input type="radio" name="period_type" id="period-type2" value="delivery_req_dt">
										<label for="period-type2">매입결제일</label></td>
									<td class="pr-2 pl-2 pt-3"><input type="radio" name="period_type" id="period-type3" 	value="instock_complete_dt"> 
										<label for="period-type3">입고확정일</label>
									</td>
									<td colspan="4"></td>
								</tr>
								<tr>
									<th class="card-footer text-center">기간</th>
									<td>
										<div class="search-buttons pl-2">
											<a class="btn2" role="button" chk_type="all" onclick="setDate('all')">전체</a> 
											<a class="btn2"	role="button" chk_type="ym" onclick="setDate('ym')">전월</a> 
											<a class="btn2" role="button" chk_type="nm" onclick="setDate('nm')">금월</a> 
											<a class="btn2" role="button"	chk_type="n" onclick="setDate('n')">당일</a>
										</div>
									</td>
									<td>
										<div class="search-dates">
											<div class="input-group">
												<input id="sdate" name="sdate" type="text"	value="2021-12-28" title="날짜 입력"  onclick="calendarAdmin('sdate')"  class="form-control" 	style="width: 104px;"> 
												<span class="input-group-addon" id="basic-addon2">
												 <a onclick="calendarAdmin('sdate');" role="button">
												 <i class="far fa-calendar-alt" style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
												</span>
												 <span style="padding-top: 7px;"> ~ </span>
											</div>
										</div>
									</td>
									<td>
										<div class="search-dates mr0">
											<div class="input-group mr0">
												<input id="edate" name="edate" type="text"
													value="2021-12-29" title="날짜 입력"
													onclick="calendarAdmin('edate')" class="form-control"
													style="width: 104px;"> <span
													class="input-group-addon" id="basic-addon2"> <a
													onclick="calendarAdmin('edate');" role="button"><i
														class="far fa-calendar-alt"
														style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
												</span>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									<th class="card-footer text-center"
										style="border-bottom: 1px dotted #f1f1f1;">키워드 검색</th>
									<td class="pr-2 pl-2 pt-2 pb-2">
										<div class="search-types">
											<select name="search_type" class="form-control">
												<option value="">::구분::</option>
												<option value="">거래처명</option>
												<option value="">등록번호</option>
											</select>
										</div>
									</td>
									<td colspan="2" class="pr-2 pt-2 pb-2"><input type="text" id="searchBar" class="form-control" title="검색어 입력" placeholder="검색어를 입력해주세요."></td>
									<td class="pr-2 pt-2 pb-2">
										<button class="btn2" id="purchaseLookbtn2" type="submit" style="width: 100%;">검색</button>
									</td>
								</tr>
								<tr>
									<th class="card-footer text-center">즉시 검색</th>
									<td class="pr-2 pl-2 pb-2">
										<div class="">
											<select class="form-control">
												<option value="">::유형::</option>
												<option value="">과세매입</option>
												<option value="">면세매입</option>
											</select>
										</div>
									</td>
									<td class="pr-2 pb-2">
										<!--     <select class="form-control">
                              </select>                     
                           -->
									</td>
									<td class="pr-2 pb-2">
										<!--    <select class="form-control">
                              </select> -->
									</td>
									<td class="pr-2 pb-2"><h7> 검색 기본설정은해당월입니다. </h7></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


			</div>
		</section>
		<br /> <br />
		<!--balance_sum_table시작  -->


		<!--balance_sum_table끝  -->
		<br /> <br /> <br />

		<!-- 테이블  시작-->
		<section class="content">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h6 class="card-title mt-2">
								매입 거래 날짜는 <code>입고 확정일을</code> 	기준으로 합니다.
							</h6>

							<div class="card-tools">
								<div class="input-group input-group-sm">
									<div class="input-group-append "></div>
								</div>
							</div>
							<div class="col-sm-push-12 col-md-push-6"
								style="text-align: right;">
								<div class="dt-buttons btn2-group flex-wrap">
									<button class="btn2 buttons-copy buttons-html5" tabindex="0"
										aria-controls="example1" type="button">
										<span>Copy</span>
									</button>
									<button class="btn2 buttons-csv buttons-html5" tabindex="0"
										aria-controls="example1" type="button">
										<span>CSV</span>
									</button>
									<button class="btn2 buttons-excel buttons-html5" tabindex="0"
										aria-controls="example1" type="button">
										<span>Excel</span>
									</button>
									<button class="btn2 buttons-pdf buttons-html5" tabindex="0"
										aria-controls="example1" type="button">
										<span>PDF</span>
									</button>
									<button class="btn2 buttons-print" tabindex="0"
										aria-controls="example1" type="button">
										<span>Print</span>
									</button>
								</div>
							</div>
						</div>
						<!-- /.card-header -->

						<!-- card-hody Start -->
						<br /> <br />

						<div class="card-body col-md-12 " >
							<table class="table p-0 table-hover table text-center table-head-fixed" id="purchaseListTable"  style="text-align: center;">
								<thead>
									<tr>
									<!-- 	<th><div class="icheck-danger">
												<input type="checkbox"  id="check1">
													<label for="check1"></label>
											</div>
										</th> --> 
										<th>상호명</th>
										<th>공급가액</th>
										<th>부가세</th>
										<th>매입단가(vat포함)</th>
										<th>지급금액</th>
										<th>최종거래일</th>
									<!-- 	<th>지급금액</th>
										<th>수정금액</th>
										<th>잔여지급금액</th>
										<th>최종거래일</th> -->
									</tr>
								</thead>
								
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>

		<!-- 		<div class="dataTables_paginate paging_simple_numbers mx-auto"
					id="example1_paginate">
					<ul class="pagination">
						<li class="paginate_button page-item previous disabled"
							id="example1_previous"><a href="#" aria-controls="example1"
							data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
						<li class="paginate_button page-item active"><a href="#"
							aria-controls="example1" data-dt-idx="1" tabindex="0"
							class="page-link">1</a></li>
						<li class="paginate_button page-item "><a href="#"
							aria-controls="example1" data-dt-idx="2" tabindex="0"
							class="page-link">2</a></li>
						<li class="paginate_button page-item "><a href="#"
							aria-controls="example1" data-dt-idx="3" tabindex="0"
							class="page-link">3</a></li>
						<li class="paginate_button page-item next" id="example1_next">
							<a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0"
							class="page-link">Next</a>
						</li>
					</ul>
				</div> -->


			</div>


		</section>
		<!-- /.content -->

	</div>

</th:block>


</body>
</html>