<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="@{layout/default}">
  <th:block layout:fragment="customContent" >
     <title th:text="${title}"></title>
  </th:block>

   <th:block layout:fragment="customContents" >
   
      <div class="wrapper">
      
      <section class="content">
         <div class="container-fluid">
            <div class="card">
               <div class=" clearfix">
				  <form th:action="@{/order/preOrder}" method="post">
	                  <table class="col-md-12">
	                     <colgroup>
	                        <col width="13%">
	                        <col width="21%">
	                        <col width="18%">
	                        <col width="18%">
	                        <col width="18%">
	                        <col width="13%">
	                     </colgroup>
	                     <tbody>
	                        <tr class="first">
	                            <th class="card-footer text-center">매출 구분</th>
	                            <td class="pr-2 pl-2 pt-3">
	                                  <input type="radio" name="period_type" id="period-type1" value="regist_dt" checked="">
	                                  <label for="period-type1">발주등록일</label>
	                             </td>
	                             <td class="pr-2 pl-2 pt-3">
	                                  <input type="radio" name="period_type" id="period-type2" value="delivery_req_dt">
	                                  <label for="period-type2">납기요청일</label>
	                             </td>
	                            <td colspan="4">
	                            </td>
	                        </tr>
	                        <tr>
	                           <th class="card-footer text-center">기간</th>
	                           <td>
	                              <div class="search-buttons pl-2">
	                                          <a class="btn btn-info" role="button" chk_type="all" onclick="setDate('all')">전체</a>
	                                          <a class="btn btn-info" role="button" chk_type="ym" onclick="setDate('ym')">전월</a>
	                                          <a class="btn btn-info" role="button" chk_type="nm" onclick="setDate('nm')">금월</a>
	                                          <a class="btn btn-info" role="button" chk_type="n" onclick="setDate('n')">당일</a>
	                              </div>
	                           </td>
	                           <td>
	                              <div class="search-dates">
	                                 <div class="input-group">
	                                    <input id="sdate" name="sdate" type="text" value="2021-12-28" title="날짜 입력" onclick="calendarAdmin('sdate')" class="form-control" style="width:104px;">
	                                    <span class="input-group-addon" id="basic-addon2">
	                                       <a onclick="calendarAdmin('sdate');" role="button"><i class="far fa-calendar-alt" style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
	                                    </span>
	                                    <span style="padding-top: 7px;"> ~ </span>
	                                 </div>
	                              </div>
	                           </td>
	                           
	                           <td>
	                              <div class="search-dates mr0">
	                                 <div class="input-group mr0">
	                                    <input id="edate" name="edate" type="text" value="2021-12-29" title="날짜 입력" onclick="calendarAdmin('edate')" class="form-control" style="width:104px;">
	                                    <span class="input-group-addon" id="basic-addon2">
	                                       <a onclick="calendarAdmin('edate');" role="button"><i class="far fa-calendar-alt" style="padding: 10px; border: 1px solid #eee; background-color: #f1f1f1;"></i></a>
	                                    </span>
	                                 </div>
	                              </div>
	                           </td>
	                        </tr>
	                     
	                        <tr>
	                           <th class="card-footer text-center"style="border-bottom:1px dotted #f1f1f1;">키워드 검색</th>
	                           <td class="pr-2 pl-2 pt-2 pb-2">
	                              <div class="search-types">
	                                 <select name="preOrderSearch" class="form-control">
	                                    <option value="goodsName">상품명</option>
	                                   <!--  <option value="">거래처</option> -->
	                                    <option value="orderCode">발주번호</option>
	                                 </select>
	                              </div>
	                           </td>
	                           <td colspan="2" class="pr-2 pt-2 pb-2">
	                              <input type="text" name="preOrderSearchVal" class="form-control" title="검색어 입력" placeholder="검색어를 입력해주세요." >                              
	                           </td>
	                           <td class="pr-2 pt-2 pb-2">
	                              <button class="btn btn-search btn-info " type="submit" style="width:100%;">검색</button>
	                           </td>
	                        </tr>
	                        <tr>
	                           <th class="card-footer text-center">즉시 검색</th>
	                           <td class="pr-2 pl-2 pb-2">
	                              <div class="">
	                                 <select class="form-control">
	                                    <option value="">발주 상태</option>
	                                    <option value="">발주 요청</option>
	                                    <option value="">발주 대기</option>
	                                    <option value="">발주 완료</option>
	                                    <option value="">발주 취소</option>
	                                 </select>
	                              </div>
	                           </td>
	                           <td class="pr-2 pb-2">
	                              <select class="form-control" >
	                                 <option value="">매입처 출고 상태</option>
	                                 <option value="">출고 대기</option>
	                                 <option value="">출고 완료</option>
	                              </select>                     
	                           
	                           </td>
	                           <td class="pr-2 pb-2">
	                              <select class="form-control">
	                                 <option value="">입고 상태</option>
	                                 <option value="">입고 대기</option>
	                                 <option value="">입고 완료</option>
	                                 <option value="">반품 완료</option>
	                              </select>                              
	                           </td>
	                           <td class="pr-2 pb-2">
	                              <select class="form-control">
	                                 <option value="">등록 구분</option>
	                                 <option value="">일반 등록</option>
	                              </select>
	                           </td>
	                        </tr>
	                     </tbody>
	                  </table>
                  </form>
               </div>
            </div>
            
      
            
            <button style="float: left; font-weight: 600;height: 50px; letter-spacing: -0.5px;" class="btn btn-outline-info col-sm-3">발주서 출력<i style="padding-left: 7px;" class="fas fa-archive"></i></button>            

            <div style="margin-top:20px; margin-left:3%; padding: 0 12px 0 1px;clear:both; float:left" >
               <p style="display: inline-block; padding-right: 7px;">전체 10건</p>
               <button type="button" class="btn btn-outline-secondary btn-sm"><strong>발주 완료</strong></button>
               <button type="button" class="btn btn-outline-secondary btn-sm"><strong>출고 완료</strong></button>  
            </div>
            
          	<div style="margin-top:20px; margin-right:3%;float:right" >
               <button type="button" class="btn btn-info btn-sm">납품 수정</button>
               <button type="button" class="btn btn-info btn-sm">납품 삭제</button>
            </div>
         
            <div class="card col-md-12">
               <table style="margin: 2%;width: 96%;" class="table text-center table-head-fixed text-nowrap"> 
                  <thead>
                     <tr>
                        <th>발주요청코드</th>                       
                        <th>품목명</th>
                        <th>품목규격</th>
                        <th>품목단위</th>
                        <th>판매원</th>
                        <th>매입단가(VAT포함)</th>
                        <th>수량</th>
                        <th>상태</th>
                        <th>발주등록일시</th>
                        <th>거래처 등록자</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:if="${not #lists.isEmpty(orderList)}" th:each="l : ${orderList}">
						<td th:text="${l.orderCode}"></td>						
						<td th:text="${l.goodsName}"></td>
						<td th:text="${l.goodsWeight}"></td>
						<td th:text="${l.goodsUnit}"></td>
						<td th:text="${l.salesperson}"></td>
						<td th:text="${l.purchasePrice}"></td>
						<td th:text="${l.goodsQuantity}"></td>
						<td th:text="${l.situation}"></td>
						<td th:text="${l.orderRegTime}"></td>
						<td th:text="${l.staffId2}"></td>
					</tr>
					<tr th:unless="${not #lists.isEmpty(orderList)}">
						<td colspan="4">
							내용이 없습니다.
						</td>
					</tr>
                  </tbody>
               </table>
               <div style="margin: 5px auto 0;" class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                  <ul class="pagination">
                     <li class="paginate_button page-item previous " id="example2_previous"><a  th:if="${currentPage > 1}" th:href="@{/order/preOrder(currentPage=${currentPage - 1})}" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Prev</a></li>
                     <th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
                    	 <li class="paginate_button page-item">
                    	 	<a th:if="${num != currentPage}" th:href="@{/order/preOrder(currentPage=${num})}" th:text="${num}" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link"></a>
                    	 </li>
                    	 <li class="paginate_button page-item active">
                    	 	<a th:unless="${num != currentPage}" th:text="${num}" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link"></a>
                    	 </li>
                     </th:block>
                     <li class="paginate_button page-item next" id="example2_next"><a th:if="${currentPage < lastPage}" th:href="@{/order/preOrder(currentPage=${currentPage + 1})}" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                  </ul>
               </div>
            </div>  
            
          </div>
      </section>    
      </div>
   



</th:block>
