<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
 	 layout:decorate="@{layout/default}">
  <th:block layout:fragment="customContent" >
  	<title th:text="${title}"></title>
  </th:block>
	<th:block layout:fragment="customContents" >
	<p class="px-4 py-2">22-01-19 09:30 수정</p>
	
	<div class="px-4 py-2">
		<div class="row">
		  <div class="col-md-4 col-sm-6 col-12">
		    <div class="info-box">
		    	<span class="info-box-icon bg-info"><i class="far fa-user"></i></span>
		    	<div class="inner pl-2">
			      <div class="info-box-content">
			        <span class="info-box-number mb-2" style="font-size: 30px;">강가영</span>
			        <span class="info-box-number">프로젝트 담당기능</span>
			        <p style="padding-bottom: 20px;">주문관리, 재고관리 프로그램 개발</p>
			        <span class="info-box-number" style=" color: #333;">skills</span>
			        <p>html, css, js 등...</p>
			        <div class="progress">
			          <div class="progress-bar bg-info" style="width: 70%"></div>
			        </div>
			        <span class="progress-description" style="color: #666; font-size: 15px;">
			          70% Increase in 30 Days
			        </span>
				</div>	
		      </div>

		    </div>
		  </div>
		  <div class="col-md-4 col-sm-6 col-12">
		    <div class="info-box">
		    	<span class="info-box-icon bg-danger"><i class="far fa-user"></i></span>
		    	<div class="inner pl-2">
			      <div class="info-box-content">
			        <span class="info-box-number mb-2" style="font-size: 30px;">김연희</span>
			        <span class="info-box-number">프로젝트 담당기능</span>
			        <p style="padding-bottom: 20px;">원장 관리, 계산서 관리 프로그램 개발</p>
			        <span class="info-box-number" style=" color: #333;">skills</span>
			        <p>html, css, js 등...</p>
			        <div class="progress">
			          <div class="progress-bar bg-danger" style="width: 70%"></div>
			        </div>
			        <span class="progress-description" style="color: #666; font-size: 15px;">
			          70% Increase in 30 Days
			        </span>
				</div>	
		      </div>

		    </div>
		  </div>
		  <div class="col-md-4 col-sm-6 col-12">
		    <div class="info-box">
		    	<span class="info-box-icon bg-warning"><i class="far fa-user"></i></span>
		    	<div class="inner pl-2">
			      <div class="info-box-content">
			        <span class="info-box-number mb-2" style="font-size: 30px;">최정기</span>
			        <span class="info-box-number">프로젝트 담당기능</span>
			        <p>사원 관리, 거래처 관리, 시설물 관리<br> 프로그램 개발</p>
			        <span class="info-box-number" style=" color: #333;">skills</span>
			        <p>html, css, js 등...</p>
			        <div class="progress">
			          <div class="progress-bar bg-warning" style="width: 70%"></div>
			        </div>
			        <span class="progress-description" style="color: #666; font-size: 15px;">
			          70% Increase in 30 Days
			        </span>
				</div>	
		      </div>

		    </div>
		  </div>
		  
		</div>
	</div>
	
	
	</th:block>	
</html>
